@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --color-bg: #FBFBFB;
  --color-text: #1A1A19;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
